<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MeBot Talk</title>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <script>
	
    $(function(){
      var socket = io();
      socket.on('my message', function (msg) {
        $('#messages').append($('<p class="talk me">').text(msg));
		$("#messages").scrollTop($(document).height());
      });
	 
      socket.on('other message', function (msg) {
        $('#messages').append($('<p class="talk other">').text(msg));
		$("#messages").scrollTop($(document).height());
      });

      $("#input").keyup(function(key){
        if(key.keyCode==13){
          socket.emit('message', $("#input").val());
          $("#input").val("");
        }
      });
      $("#btn").on('click', function(){
        socket.emit('message', $("#input").val());
        $("#input").val("");
      });

    })

    </script>
  </head>
  <body>
  <h2> This is the MeBot's web version</h2>
    <div class="background" >
      <div class ="msgbox" id="messages">
	 
    </div>
        <input id="input" class="msg" type="text"/>
          <button id="btn" class="send" type="button">전송</button>
    </div>
  </body>
</html>
